{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3 text-center">
  <h3 class="text text-center mt-4">Customer detail</h3>
  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Young Driver</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.birthdate | date ('d/m/Y') }}</td>
        <td> 
           {% if customer.isYoungDriver == 1 %}
               True
           {% else %}
               False
           {% endif %}
        </td>
        <td>
          <a href="{{ path('customer_edit', { 'id': customer.id }) }}">Edit</a><br>
          <a href="{{ path('customer_delete', { 'id': customer.id }) }}">Delete</a><br>  
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
