{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center mt-4">
    <img id="homepage" src="https://duhocvinedu.edu.vn/wp-content/uploads/2020/11/university-of-greenwich-diem-den-day-uy-vong-o-nuoc-anh.jpg">
</div>
{% endblock %}
