{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}
<div class="container col-md-10 text-center">
    <h2 class="text text-success mb-3"> Todo Application </h2>
    <img src="{{ asset('images/todo.png')}}" alt="todo"
    width="500" height="400">
</div>
{% endblock %}
