{% form_theme courseForm "bootstrap_5_layout.html.twig" %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-7 text-center mt-3">
<h1 class="text text-bg-success">Add new course</h1>
{{ form_start (courseForm) }}
{{ form_end (courseForm) }}
</div>
{% endblock %}
