{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block body %}
  <div class="container text-center mt-5">
      <h4>Create Sale</h4>

      {{ form_start(form) }}
      {{ form_widget(form) }}
            <br>
            <input type="submit" value="Create" />
      {{ form_end(form) }}
  </div>
{% endblock %}
